[Unit]
Description=Gunicorn instance to serve flask application
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ site.django_root|default(DJANGO_ROOT) }}/{{ site.project }}/
Environment="PATH={{ site.django_root|default(DJANGO_ROOT) }}/{{ site.project }}/venv/bin"
ExecStart={{ site.django_root|default(DJANGO_ROOT) }}/{{ site.project }}/venv/bin/gunicorn --config gunicorn_config.py wsgi:app

[Install]
WantedBy=multi-user.target
