from multiprocessing import cpu_count

workers = cpu_count() * 2 + 1
bind = 'unix:{{ site.django_root|default(DJANGO_ROOT) }}/gunicorn_{{ item.1.project|replace("-", "_") }}.sock'
umask = 0o007
reload = True

# Pass logging through to STDOUT/STDERR for Apache
accesslog = '-'
errorlog = '-'
