# Logs:
*.log

# Eclipse
.project

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Virtual environments
venv/

# Ignore Ansible example files
ansible.cfg
inventory
